.swiper-wrapper {
  height: 420px;
}
.swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: all 0.4s;
}
.swiper-slide-active {
  opacity: 1;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  transform: translateY(-22%) rotate(180deg);

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 20px;
    background: url("../../../public/images/arrow.svg") no-repeat center/contain;
  }
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  transform: translateY(-22%);

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 20px;
    background: url("../../../public/images/arrow.svg") no-repeat center/contain;
  }
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    transform: translateY(-3%);
  }
  .swiper-button-next {
    transform: translateY(-3%) rotate(180deg);
  }
}
