.form {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #242423;
  margin-top: 30px;
  display: flex;
  width: 100%;
  gap: 17px;
  max-width: 100%;
  border-radius: 20px;
  background: #fffffc;
  padding: 40px 60px;
  margin-bottom: 60px;
  justify-content: center;
  &__inputs {
    display: flex;
    gap: 17px;
    width: 100%;
    justify-content: center;
  }
  &__inp {
    border: 1px solid #f7c59f;
    border-radius: 10px;
    width: 100%;
    max-width: 356px;
    min-width: 260px;
    padding: 20px;
    outline: none;
  }
  &__submit {
    border-radius: 10px;
    width: 100%;
    max-width: 376px;
    background: #f7c59f;
    padding: 20px 40px;
  }
}
@media (max-width: 991px) {
  .form {
    flex-wrap: wrap;
    gap: 15px;
    &__inputs {
      gap: 15px;
    }
  }
}
@media (max-width: 655px) {
  .form {
    &__inputs {
      flex-direction: column;
      align-items: center;
    }
    &__submit {
      max-width: 356px;
    }
  }
}

@media (max-width: 500px) {
  .form {
    padding: 20px;
    font-size: 16px;
    &__inp {
      padding: 15px;
      min-width: 0;
    }
    &__submit {
      padding: 15px;
    }
  }
}
