.hero {
  margin: 60px 0 30px 0;

  &__wrapper {
    border-radius: 30px;
    width: 100%;
    max-width: 1284px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    padding: 40px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 53px;
    color: #242423;
    margin-bottom: 20px;

    & span {
      color: #ef8354;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #242423;
    margin-bottom: 20px;
  }

  &__imgWrapper {
    max-width: 100%;
    max-height: 240px;
    border-radius: 15px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width:1200px) {
  .hero {

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 22px;
    }
  }
}

@media (max-width:991px) {
  .hero {

    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
}

@media (max-width:768px) {
  .hero {
    &__wrapper {
      padding: 20px;
    }
  }
}

@media (max-width:500px) {
  .hero {

    &__wrapper {
      border-radius: 20px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__imgWrapper {
      height: 90px;
      border-radius: 7px;
    }
  }
}

@media (max-width:370px) {
  .hero {
    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }
}