.card {
  border-radius: 20px;
  background: #f7c59f;
  padding: 20px;
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 22px;
  color: #242423;
  width: 100%;
  max-width: 610px;
  margin-bottom: 30px;

  &__title {
    font-family: var(--font-manrope);
    font-weight: 500;
    font-size: 26px;
    color: #242423;
    margin-bottom: 5px;
  }
  &__title1 {
    color: #fffffc;
    font-weight: 400;
    font-size: 38px;
  }
}
.card:nth-child(2){
  background-color: #fffffc;
}
.ifnot {
  margin: 30px;
  &__title {
    font-family: var(--font-prata);
    color: #242423;
    width: 100%;
    max-width: 770px;
    margin-bottom: 40px;
  }
  &__orangeSpan {
    color: #ef8354;
  }
  &__grid {
    display: flex;
    gap: 20px;
  }
  &__firstCard {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__cardTitle {
    border-radius: 15px;
    width: 100%;
    max-width: 465px;
    height: fit-content;
    text-align: center;
    background: #46494c;
  }
  &__cardTitle1 {
    height: fit-content;
    text-align: center;
    background: #46494c;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    font-family: var(--font-manrope);
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    max-width: 661px;
  }
}



@media (max-width: 991px) {
  .card {
    font-size: 20px;
    &__title {
      font-size: 24px;
    }
  }
}
@media (max-width: 768px) {
  .ifnot {
    &__grid {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
    &__gridFlex {
      gap: 10px;
    }
    &__cardTitle1 {
      width: 100%;
      max-width: 610px;
    }
    &__firstCard {
      margin-bottom: 15px;
    }
  }
  .card {
    &__title1 {
      font-size: 26px;
    }
  }
}
@media (max-width: 500px) {
  .ifnot {
    &__title {
      margin-bottom: 15px;
    }
  }
  .card {
    font-size: 16px;
    &__title {
      font-size: 18px;
    }
    &__title1 {
      font-size: 18px;
    }
  }
}
@media (max-width: 350px) {
  .card {
    font-size: 14px;
    &__title {
      font-size: 16px;
    }
    &__title1 {
      font-size: 16px;
    }
  }
}
